body {
    font-family: Arial;
    background-image: url("https://static.pexels.com/photos/141357/pexels-photo-141357.jpeg");
    background-size: 110em;
    /*
    background-position-x: center;
    background-position-y: center;
    */    
    background-color: antiquewhite;
    background-attachment: fixed;
    width: 100%;
    margin-left: 10px;
}

.education {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}


.sectionHead {
    background-color: orangered;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 5em;
    margin-right: 5em;
    
}
a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: violet;
}

a:visited {
    color: brown;
}

#headContainer{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 500px;
}

#header {
    
    width: 100%;
    height: 100%;
    background-color: burlywood;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-left: 15px;
     border: 2px solid orangered;
    border-radius: 5px; 
    opacity: 0.50;
    margin-top: 40px;

    
}

#headerText {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 0;
    padding-left: 15px;
    padding-top: 9em;
    border: 2px solid orangered;
    border-radius: 5px; 
    margin-top: 40px;
}

#headerText h1 {
    text-align: center;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8em;
}

#headerText h3 {
    text-align: center;
    color: red;
    font-size: 4em;
}

#header li {
    margin-right: 10px;
}
/*
#navigation {
    float: right;
    padding-right: 30px;
    margin-top: -50px;
}
    */
#navigation {
    position: fixed;
    z-index: 1;
    list-style-type: none;
    display:inline;
    float: right;
    margin-right: 20%;
    margin-top: -40px;

}

#navButton {
    position: fixed;
    margin-left: 70%; 
    margin-right: 20%;
    margin-top: 1em;
    opacity: 0.75;

}
    
#navigation li {
    display: inline;
    
}

#navigation a {
    color: black;
}

#navigation a:hover {
    color: azure;
}

#background {
    width: 100%;
    position:fixed;
    z-index: 0;
}

#welcome {
    margin-top: 150px;
    
    
}

#contact {
    float: right;
    position: relative;
    left: -50%;
    text-align:left;
}

#contact ul {
    list-style: none;
    position: relative;
    left: 50%;
}

#contact a {
    color: black;
}


#contact a:hover {
    color: azure;
}

#grid_of_links  {
    
}

#resume  {
    
    margin: 0 auto;
}

#portfolio {
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

th, td {
    
    overflow: hidden;
    width: 100px;
}

#skills li {
    margin-left: 5em;
}

#contact li {
    list-style-type: none;
    display: inline;
    margin-left: 3em;

}
    
#welcome #resume #contact  {
    margin: 0 auto;
}

#headContainer #header #headerText {
    padding-top: 50px;
}

.point {
    padding-top: 90px;
}

.codeSample{
    background-color: black;
}

#JavaScriptExercises li {
    display: inline-block;
    list-style-type: none;
}

#JSModals {
   /* margin-top: 20%;
  */
    width: 100%;
    height: 100%;

  
    padding-left: 15px;
    padding-top: 9em;
    padding-bottom: 9em;
    border: 2px solid orangered;
    border-radius: 5px; 
  
}

#JSModals h1 {
    text-align: center;
    color: orangered;
}

#JSModals h2 {
    text-align: center;
}

.modal-lg {
    width: 80%;
}

.jsexercises {
    background: url(https://appendto.com/wp-content/uploads/2016/04/javascript-e1465336848838-300x289.png);
    display: block;
}