<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeDefault.css" rel="stylesheet" />
    <link href="~/Content/css/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <br />
    <a href="" data-toggle="modal" data-target="#max">Max of Five</a>

    <div class="modal fade" id="max" tabindex="-1" role="dialog" aria-labelledby="myMocalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal" aria-hidden="true">x</button>
                    <h1 class="modal-title" id="myModalLabel">Max of Five</h1>
                    <div class="codeSample" >
                        <pre class="brush: js;">
                        function calculateFactorial() {
                            inNumber = Number(document.getElementById("factorialNumber").value);
                            var y = 1;
                            for (var i = inNumber; i > 0; i--) {
                                y *= i;   
                            }
                            document.getElementById("resultFactorial").innerHTML = "Factorial: " + y;
                        } // end calculateFactorial
                    
                    </pre>
                    </div>
                </div>
            <div class="modal-body col-sm-12">
            </div>
            <div class="modal-footer no-margin">
            </div>
        </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>
</body>
</html>